.lineChart__div{
  h2{
    font-size: 27px;
    font-weight: 500;
    color: var(--navy-blue);
  }
}

.lineChart__container{
  padding: 1rem;
  background: var(--navy-blue);
  border-radius: 10px;
  margin-left: 2rem;
}