*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0.6rem 3rem 0 3rem;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont,"Monteserrat", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, hsla(0, 0%, 95%, 1) 0%, hsla(0, 0%, 92%, 1) 100%);
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --navy-blue : #132737;
}